.garden-card {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 500ms;
  min-width: 260px;
  overflow: hidden;
  img {
    margin: 0 auto;
  }
}

.garden-card > p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.1px;
  margin-bottom: 10px;
}

.garden-card.expanded {
  height: 420px;
}

.label {
  transform: translateY(10px);
  transition: transform 1000ms;
}

.garden-card.expanded .label {
  transform: translateY(0);
}

.text1 {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transition: clip-path 1000ms;
  font-size: 14px;
  font-weight: 400;
}

.garden-card.expanded .text1 {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.garden-text-content {
  transform: translateY(-140px);
  transition: transform 1000ms;
}

.garden-card.expanded .garden-text-content {
  transform: translateY(-5px);
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.garden-card.expanded .chevron {
  transform: rotate(0deg);
}

.garden-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  margin: 20px 0 12px;
  font-size: 24px;
}

.body-text {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.garden-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// ------------------------------------------------ Weather widget ---------------------------------------------------------------

.article-container {
  position: relative;
  margin-top: 250px;
}

.widget {
	font-size: 18px;
	height: 300px;
	width: 400px;
	transform: translate(-50%, -50%);
  h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

.weatherIcon{
	background-color: #f0f8fa;
	height: 70%;
	width: 100%;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.weatherData {
	background-color: #2e3336;
	height: 30%;
	width: 100%;
	position: absolute;
    left: 0;
	bottom: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  h1 {
    color: #c5cdcf;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 2.9375em;
    line-height: 2.9375em;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(0, -50%);
  }

  h2 {
    color: #8f9b9d;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 1.1875em;
    line-height: 1.1875em;
    position: absolute;
    top: 24%;
    left: 27%;
  }

  h3 {
    color: #c5cdcf;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 0.8125em;
    position: absolute;
    bottom: 25%;
    left: 27%;
  }
}



.date {
	background-color: #4dbde2;
	height: 30%;
	width: 22%;
	position: absolute;
  right: 0;
	bottom: 0;
	border-bottom-right-radius: 10px;
  h4 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6875em;
    line-height: 0.6875em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  h5 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.8125em;
    line-height: 28px;
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.element {
  position: absolute; top: 65%; left: 50%; transform: translate(-50%,-50%);
	height: 200px;
	width: 200px;
	.container {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  align-items: center;
	  height: 100vh;
	  background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
	 }

	 .elements {
	   display: flex;
	   justify-content: center;
	   flex-wrap: wrap;

	 }

	.white {fill:grey}
	.gray {fill:#E0E0E0}
	.yellow {fill:#FFEB3B}
 }
