.garden-card {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 500ms;
  width: 260px;
  overflow: hidden;
}

.garden-card > p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.1px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.garden-card.expanded {
  height: 420px;
}

.label {
  transform: translateY(10px);
  transition: transform 1000ms;
  mix-blend-mode: multiply;
}

.garden-card.expanded .label {
  transform: translateY(0);
}

.text1 {
-webkit-clip-path: inset(0 0 0 0);
clip-path: inset(0 0 0 0);
  transition: clip-path 1000ms;
}

.garden-card.expanded .text1 {
-webkit-clip-path: inset(0 0 0 0);
clip-path: inset(0 0 0 0);
}

.garden-text-content {
  transform: translateY(-140px);
  transition: transform 1000ms;
}

.garden-card.expanded .garden-text-content {
  transform: translateY(-5px);
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.garden-card.expanded .chevron {
  transform: rotate(0deg);
}

.garden-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  margin: 20px 0 12px;
  font-size: 24px;
}

.body-text {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.garden-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
