// Specific CSS for your home-page
.font-montaga {
  font-family: 'Montaga', serif;
}

.text-centred {
  text-align: center;
}

article {
  max-width: 1000px;
  margin: 0 auto;
  .btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 30px;
    letter-spacing: 1px;
    background-color: #3A4F39;
    color: white;
  }
}

.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.2px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: space-evenly;
}

.features-content {
  img {
    max-width: 340px;
    mix-blend-mode: multiply;
  }
}
