<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Havish96/MoZardin" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/groups/14211478/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://join.slack.com/t/mozardin/shared_invite/zt-1ran6x0zm-aXkUbl4N1y~Pst3aAM346A" target="_blank"><i class="fa-brands fa-slack"></i></a>
  </div>

  <hr>
  <p class="copyright">Copyright &copy; 2023 MoZardin.</p>

</div>
