<div class="footer">
  <div class="footer-links">
   <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>


      <ul class="list-inline">
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Features</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
                <li class="list-inline-item"><a href="#">Gallery</a></li>
                <li class="list-inline-item"><a href="#">Team</a></li>
      </ul>

  <hr>
  <p class="copyright">Copyright &copy; 2023 The Golden Roast.</p>


</div>
