.icon {
  font-size: 150px;
}

.icon-border {
  border: solid 1px rgb(189, 189, 189);
  border-radius: 8px;
  margin-top: 32px;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 16px;
}

.img-size {
  max-width: 600px;
  max-height: 800px;
}
