
<p class="title-footer">We make your dream comes true</p>
<footer>
  <p><i class="fa-brands fa-instagram"></i>  instagram</p>
  <p><i class="fa-brands fa-square-facebook"></i>  Facebook</p>
  <p><i class="fa-brands fa-twitter"></i>  Twitter</p>
</footer>
<br>
