<div id="hero-banner">
  <div class="content-container">
    <h1>Start your gardening journey with a fresh start</h1>
    <h4>Your digital guide to a perfect garden.</h4>
    <div class="cta">
      <%= link_to "Virtual Garden", root_path, class: "btn" %>
      <%= link_to "Wikiplants", root_path, class: "btn" %>
    </div>
  </div>
</div>
