<%= render "shared/navbar" %>
<h1 class="text-centred my-5 font-oleo">Wikiplant</h1>

<div class="container">
  <p class="mb-4">Categories</p>

  <div class="category-cards">
    <div class="card">
      <p>Vegetables</p>
    </div>
    <div class="card">
      <p>Herbs</p>
    </div>
    <div class="card">
      <p>Flowers</p>
    </div>
    <div class="card">
      <p>Trees</p>
    </div>
  </div>
</div>
<br><br><br><br><br>
