<%= render "shared/navbar" %>
<p class="title mt-4">Plants in your Garden</h1>


<div class="article-container">
  <br>

  <div class="cards-container">
    <% @gardens.each do |garden| %>
    <% end %>
        <div class="booking-product-card">
        <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Potatoes
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    carrots
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Tomatoes
  </div>
</div>

  </div>
<br><br><br>

</div>
