<%= render "shared/navbar" %>

<% if @gardens.nil? == true %>
    <h1 class="title mt-5">Create a new garden</h1>
  <% else %>
    <h1 class="title mt-5">Your gardens</h1>
<% end %>

<div class="container mt-5">

<% @gardens.each do |garden| %>
  <%= link_to garden_path(garden) do  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/collection/1331287)">
    <%= garden.name %>
    </div>
  <% end %>
<% end %>

</div>
