// ----------------------------- Navbar ------------------------------

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  text-decoration: none;
  color: $primary-green;
  padding: 8px 30px;
  border: solid 1px $primary-green;
  border-radius: 4px;
  font-size: 16px;

  &:hover {
    color: $primary-green;
  }
}

.navbar-text-logo {
  text-decoration: none;
  color: $primary-green;
  padding: 8px 18px;
  font-family: Oleo Script;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  &:hover {
    color: $primary-green;
  }
}

.fill {
  background-color: $primary-green;
  color: white;
  &:hover {
    color: white !important;
  }
}

// ----------------------------- Avatar ------------------------------

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


// ------------------------------- notification ---------------------------------------

.progress-link {
  position: relative;
  display: flex;
}

.progress-notification {
  // position: absolute;
  color: white;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 104, 104);
    padding: 4px;
    border-radius: 50%;
    margin: 0 0 0 -10px;
  }
}

@media screen and (max-width: 674px) {
  .progress-notification {
    // position: absolute;
    color: white;
    p {
      margin: 0;
    }
  }
}
