.font-montaga {
  font-family: 'Montaga', serif;
}

.font-oleo {
  font-family: 'Oleo Script', cursive;
}

.text-centred {
  text-align: center;
}

.title {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  margin: 48px 0;
}
