<%= render "shared/navbar" %>

<h1 class="title">Guides</h1>

<div class="container">
  <div class="guides-cards">

    <!-- Individual cards -->
    <div class="card">
      <div class="img"></div>
      <div class="content">
        <p><span><i class="fa-regular fa-clock"></i></span>
          &nbsp;&nbsp;September 18, 2019
        </p>
        <p>HOW TO START SEEDS INDOORS</p>
        <p>Coaxing new life out of a seed is one of the highlights of the year for gardeners, right up there with harvesting perfectly ripe vegetables </p>
        <p>
          <span>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "guide-avatar" %>
          </span>
            &nbsp;&nbsp;&nbsp;by Bertram Perry
        </p>
      </div>
    </div>
  </div>
</div>
<br><br><br>
